<ion-header>
    <ion-toolbar>
        <ion-title>
            Bachata Dominicana
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <h1 class="ion-padding-horizontal ion-padding-top">Emisoras</h1>

    <!-- options in home.page.ts defining the visible amount of slides -->
    <ion-slides [options]="slideOptsTop">
        <ion-slide *ngFor="let emisora of emisoras | async">
            <ion-card class="ion-text-start">
                <img [src]="emisora.img">
                <!-- <ion-img [src]="emisora.img"></ion-img> -->
                <ion-card-header>
                    <ion-card-subtitle>{{emisora.nombre}}</ion-card-subtitle>
                    <ion-card-title>Card Title</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <h4 class="ion-padding-horizontal">Categorias</h4>

    <!-- this is a more narrow, thumb'isch card slider -->
    <ion-slides [options]="slideOptsThumbs">
        <ion-slide *ngFor="let category of categorias | async">
            <ion-card class="ion-text-start" (click)="cambiar(category)">
                <img [src]="category.img">
                <ion-card-content>
                    {{ category.nombre }}
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>

</ion-content>